Thumbs.db
desktop.ini
$*
~*
*.swp
.DS_Store

*-BAK/
*.BAK
tmp/

# Private
*-secret.*
*-SECRET.*
*-private.*
*-PRIVATE.*
*-LOCAL.*
*-OFF.*
*-secret/
*-SECRET/
*-private/
*-PRIVATE/
*-LOCAL/
*-OFF/
